  

  :root {
    --text-black: #0a0507;
    --text-white: #faf5f7;
    --background: #efe6ea;
    --primary: #b54a77;
    --secondary: #d4aabb;
    --accent: #f2ae26;
  }
  

  body.night-mode {
    --background: #1a1115;
    --primary: #b54a77;
    --secondary: #552b3c;
    --accent: #d9950d;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: auto !important;
    min-height: 100%;
    margin: 0;
    padding-bottom: 10px; 
}

  body {
    margin: 0;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    background: var(--background);
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background);
    color: var(--text-black);      
    z-index: 1000;          
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
  }

  header nav {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-top: 10px;
    margin-bottom: -15px;
    position: relative;
    gap: 20px;
  }

  header .nightMode {
    padding: 12px 15px;
    border: none;
    background-color: transparent;
  }

  main {
    flex: 1;
    padding: 40px 0px;
  }


  .tab-btn {
    padding: 10px 20px;
    border: none;
    background-color: color-mix(in srgb, var(--secondary), var(--background) 60%);
    color: var(--text);
    cursor: pointer;
    font-weight: bold;
    position: relative;
    border-radius: 10px;
    transition: 0.3s;

  }
  
  .tab-btn.active {
    background: var(--primary);
    color: var(--text-white);
    z-index: 10;
  }


  .tab-content {
    display: none;
  }


  .tab-content.active {
    display: block;
  }


  .grid {
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }


  .card {
    background-color: color-mix(in srgb, var(--secondary), var(--background) 60%);
    border-radius: 12px;
    padding: 15px;
  }

  .card-item {
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    background-color: color-mix(in srgb, var(--secondary), var(--background) 60%);
  }

  .card-item h3 {
    padding-left: 5px;
  }

  .card:hover img {
    transform: translateY(20%);
    transition: transform 0.4s ease-out, opacity 0.3s ease;
  }


  .card img {
    position: absolute;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }


  .card a {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
  }

  .grid-desain{
    margin-left: 20px;
    margin-right: 20px;
  }


  .masonry {
    column-count: 3;
    column-gap: 15px;
    max-width: 1100px;
    margin: auto;
  }
  
  .masonry-item {
    position: relative;
    display: block;
    margin-bottom: 15px;
    break-inside: avoid;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .masonry-item img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform .4s ease;
  }
  
  /* ZOOM saat hover */
  .masonry-item:hover img {
    transform: scale(1.08);
  }
  
  /* OVERLAY TEKS */
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.55);
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    opacity: 0;
    transition: opacity .3s ease;
  }
  
  .masonry-item:hover .overlay {
    opacity: 1;
  }

  .design-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 20px;
  }

  .design-tab {
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    font-weight: 500;
    color: var(--black-color);
  }

  .design-tab.active {
    background: var(--primary);
    color: var(--text-white);
  }

  .design-tab:hover {
    background-color: color-mix(in srgb, var(--secondary), var(--background) 60%);
    color: var(--white-color);
    transform: translateY(-10%);
    transition: transform 0.4s ease-out, opacity 0.3s ease;
  }
  
  .overlay h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .overlay p {
    font-size: 13px;
    opacity: .85;
  }

  .modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 2000;
  }

  .modal-content {
    background: #fff;
    width: 100%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 12px;
    padding: 2rem;
    position: relative;
  }

  .modal-image {
    width: 100%;
    max-height: 300px; 
    object-fit: contain;  
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  


  .modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .modal-content {
    background: var(--background);
    width: 90%;
    max-width: 900px;
    padding: 30px;
    border-radius: 16px;
    max-height: 90vh;
    overflow-y: auto;
    animation: fadeIn .3s ease;
  }
  
  .modal-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  .modal .visit-btn{
    margin-top: 10px;
      width: fit-content;
      padding: 10px 20px;
      background: var(--primary);
      color: var(--text-white);
      text-decoration: none;
      border-radius: 10px;
      transition: .3s;
      font-weight: bold;
   }

  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {opacity:0; transform:translateY(20px);}
    to {opacity:1; transform:translateY(0);}
  }

  footer {
    border-radius: 15px;
    background-color: color-mix(in srgb, var(--secondary), var(--background) 60%);
    color: var(--text-black);
    text-align: left;
    padding: 60px 40px 40px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: sans-serif;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
  }

  .col-brand h4 {
    color: var(--black-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .col-links h4 {
    color: var(--primary);
    font-size: 0.8rem;
    letter-spacing: px;
    margin-bottom: 10px;
  }

  .col-links a {
    display: block;
    text-decoration: none;
    color: var(--text-black);
    margin-bottom: 12px;
    font-size: 1rem;
  }

  .col-links a:hover {
    color: var(--primary);
    transform:translateY(-2px) ;
  }

  .footer-divider {
    border: 0;
    border-top: 1px solid var(--primary);
    margin: 40px 0 20px;
  }


  .nightMode {
    position: fixed;
    top: 150px;      
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #1a1115;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    font-size: 18px;
    line-height: 1;
  }

  .nightMode:hover {
    transform: scale(1.1);
    background: var(--primary);
  }

  .nightMode .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  body.night-mode .nightMode {
    background: #efe6ea;
  }

  body.night-mode header {
    color: var(--white-color);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  }

 
  body.night-mode .card-item {
    color: var(--text-white);
  }

  body.night-mode .overlay {
    color: var(--text-white);
  }

  body.night-mode footer,
  body.night-mode footer a {
    color: var(--text-white);
  }

 
  body.night-mode .design-tab {
    color: var(--text-white);
  }

  
  
  body,
  header,
  main,
  .detail-container,
  .tab-btn,
  .tab-btn.active,
  .tab-btn.active::after,
  .tab-btn.active::before,
  .back-btn,
  .visit-btn {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  body.night-mode {
    color: var(--text-white);
  }

  body,
  header,
  main,
  .detail-container,
  .tab-btn,
  .tab-btn.active,
  .tab-btn.active::after,
  .tab-btn.active::before,
  .back-btn,
  .visit-btn {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }



  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
    header p {
      font-size: 0.9rem;
    }
    .grid {
      grid-template-columns: 1fr;
      margin-left: 20px;
      margin-right: 20px;
    }
    .masonry { column-count: 2; }
    footer {
      padding: 40px 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .footer-grid {
      grid-template-columns: 1fr;
      text-align: left;
    }
  }